.contenedor-autogestion {
  display: grid;
  grid-template-areas:
    "user course course"
    "user payment payment";

.span-strong{
  font-weight: bold;
}

  .div-usuario {
    grid-area: user;
    margin: 10px;
    padding: 10px;
    .avatar{
        width: 130px;
        border-radius: 64px;
    }
    h3{
        text-align: left;
        padding-left: 0px;
        margin-left: 0px;
    }
    .sub-div-usuario{
        align-items: flex-start;
    }
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 0px var(--verde-oscuro);
    .user-form{
      display: none;
      .user-form-input{
        width: 90%;
      }
    }
  }

  .div-cursada {
    grid-area: course;
    margin: 10px;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
    h3{
        text-align: left;
        padding-left: 0px;
        margin-left: 0px;
    }
    p{
        padding-right: 10px;
    }
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 0px var(--verde-oscuro);
    .schedule-form{
      display: none;
    }
    .underlined{
      text-decoration: underline;
    }
  }

  .div-facturacion {
    grid-area: payment;
    margin: 10px;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
    h3{
        text-align: left;
        padding-left: 0px;
        margin-left: 0px;
    }
    p{
        padding-right: 10px;
    }
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 0px var(--verde-oscuro);
  }
}
