.contact {


    .contact-content {

        #mensaje-resumen {
            width: 80%;
            margin-top: 10px;

            .parrafo-mensaje {
                text-align: justify;
            }
        }

        .contact-form {
            width: 600px;
            padding: 10px;
            animation-delay: 1s;
            margin: 0 auto;
            background-color: #ededed;

            label {
                padding-left: 5px;
                font-family: $fuente-contenido;
                font-size: 18px;
            }

            .form-item {
                display: block;
                margin: 5px;
                width: 90%;
                padding: 5px;
                border: none;
                border-bottom: 2px solid var(--verde-oscuro);

                .contact-form-item {
                    display: inline;
                }

                .form-select {
                    width: auto;
                }

                .contact_button {
                    @extend button;
                    width: 100%;
                }

            }

            .sin-borde {
                border: none;
            }

            .form-p {
                margin: 10px 5px 10px 0px;
            }


            textarea {
                height: 200px;
            }


        }

        .email-phone-time {
            display: flex;
            justify-content: center;
            animation-delay: 1.5s;

            ul {
                margin: 10px;
                padding: 0px;

                li {
                    margin: 10px;
                    padding: 0px;
                    list-style-type: none;
                }
            }
        }

        .horario-atencion {
            margin: 15px;
            text-align: center;
            animation-delay: 2s;
        }
    }
}

// Media Queries

@media (max-width: 600px) {
    .contact {
        .email-phone-time {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 600px) {
    .contact {
        .contact-content {
            .contact-form {
                width: auto;

                .form-item {

                    .contact_button {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (min-width: 601px) {
    .contact {
        .contact-form {
            .contact_button {
                position: sticky;
                left: 95%;
            }
        }
    }
}