.courses {
    .button-group{
        @extend .flex-column;
        width: 120px;
        position: sticky;
        bottom: 5%;
        left: 100%;
        

        .float-button {
            background-color: var(--verde-oscuro);
            color: #fff;
            padding: 5px;
            border-radius: 7%;
            text-decoration: none;
            font-family: $fuente-contenido;
            font-weight: bold;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            margin: 10px 0;
        }
    }
    .courses_content {
        width: 600px;
        @extend .flex-column;
        margin: 0 auto;


        .courses_card {
            @extend .flex-column;
            margin: 10px 30px;
            width: auto;

            p {
                text-align: justify;
            }

        }

        .courses_card-elem {
            animation-delay: 1s;
        }

        .courses_card-inter {
            animation-delay: 1s;
        }

        .courses_card-adv {
            animation-delay: 1.5s;
        }

        .courses_card-exam {
            animation-delay: 1.5s;
        }
    }
}



@media (max-width: 600px){
    .courses{
        .courses_content{
            width: auto;
        }
    }
}