.home-content {
.home-main{
    width: 80%;
    .courses_content {
        width: 600px;
        @extend .flex-column;
        margin: 0 auto;


        .courses_card {
            @extend .flex-column;
            margin: 10px 30px;
            width: auto;

            p {
                text-align: justify;
            }

        }
    }
}
  
}