.navbar{
    padding: 0px;
    .navbar-brand {
        .navbar-logo{
            width: 60px;
            
        }
    }
    
    a.nav-link{
        font-family: $fuente-contenido;
        font-weight: bold;
        font-size: large;
    }

}