.resources {

    .resources-content {
        width: 700px;
        margin: 0 auto;
        
        h2 {
            animation-delay: 1s;
        }
        
        // Bootstrap Grid System
        .container{
            .row{
                justify-content: center;
                align-items: end;
            }
        }

        .resources_columns {
            animation-delay: 1.5s;
                    a {
                        text-decoration: none;
                        color: black;
                        text-align: center;
                    }
        }

        .games {
            animation-delay: 2s;

            .games_link {
                text-decoration: none;
                text-align: center;

                .game-picture {
                    width: 230px;
                    height: 150px;
                    border: solid black 1px;
                    margin: 5px;
                }
            }
        }

        .section-videos {
            animation-delay: 2s;


            .video {
                width: 300px;
                height: 200px;
                margin: 20px;
            }

            .spotify-div{
                text-align: center;
                .spotify-iframe {
                    width: 310px;
                    height: 100px;
                    overflow: hidden;
                }
            }

        }
    }
}

// Media Queries

@media (max-width:550px){
    .resources{
        .resources-content{
            width: auto;
        }
    }
}