.display-block{
    display: block;
}

.no-display{
    display: none;
}

.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .left{
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.resaltado {
    font-weight: bold;
}

// Botones
button {
    border-radius: 5px;
    border: transparent;
    padding: 5px;
    box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.705)
}

.button-bg-color{
    background-color: rgba(146, 236, 73, 0.247);
}

.btn {
    margin: 5px;
}


// Enlaces
a {
    color: black;
    text-decoration: none;
}

// Pseudoclases
a:hover {
    font-weight: bold;
    font-size: larger;
}

// Títulos

.backdrop-h1{
    height: 150px;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: 50% 33%;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ee52f7d9edc8a7ee635591a/1595796353799-TUKLTQR6J55TMNQ6RF5W/Photo+of+Tower+Bridge+at+sunrise+taken+by+Trevor+Sherwin?format=1500w);
}

h1 {
    color: white;
    font-family: $fuente-titulos;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    line-height: 150px;
    backdrop-filter: contrast(70%);
}

h2 {
    color: var(--verde-oscuro);
    padding: 5px;
    margin: 0px 5px 5px 5px;
    font-family: $fuente-titulos;
    text-align: center;
}

h3 {
    color: var(--gris-claro);
    padding: 5px;
    margin: 0px 5px 5px 5px;
    font-family: $fuente-titulos;
    text-align: center;
}

p, li, input{
    font-family: $fuente-contenido;
    font-size: large;
    text-align: justify;
}

@media (max-width: 425px) {
    h2 {
        text-align: center;
    }
}



